.app {
  text-align: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
body{
  min-width: 100% !important;
  display: block !important;
}

input {
  padding: 10px;
  width: 250px;
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.movie-card {
  text-decoration: none;
  color: black;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  background: #f9f9f9;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}
